<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>130 Days of Software Engineering</title>
	<link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
</head>
<body>
	<a href = "/">Back to the main page </a>
	<h1><center><big>130 Days of SWE</big></center></h1>
	<hr> 
	<blockquote>130 Days of Software Engineering is a challenge that I provided myself in studying to be a better engineer in the future.
	As I am currently getting my Masters Degree in computer engineering, I realized that there were some subject areas that were not touched upon or I was not as focused as I should have been when studying them. Now, it is time to learn everything.
	</blockquote>
	<select>
		<option>Operating Systems</option>
		<option>Netorks</option>
		<option>Network Security</option>
	</select>
	<input type = "submit"> 
	<center><iframe src ="https://www.tiktok.com/embed?url=https://www.tiktok.com/@josh.mitchell13/video/7056227183710473518?is_copy_url=1&is_from_webapp=v1" width = "420" height = "315" autoplay=1></iframe></center>
</body>
</html>