<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="This is the buisness website for Josh Mitchell as he practices being an engineer">
	<meta name="author" content="Josh Mitchell">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
	<script type="text/javascript" src="../assets/home.js"></script>
	<title>Josh Mitchell</title>
	
	<!-- animate -->
	<link rel="stylesheet" href="../css/2081_solution/css/animate.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="../css/2081_solution/css/bootstrap.min.css">
	<!-- magnific pop up -->
	<link rel="stylesheet" href="../css/2081_solution/css/magnific-popup.css">
	<!-- font-awesome -->
	<link rel="stylesheet" href="../css/2081_solution/css/font-awesome.min.css">
	<!-- google font -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
	<!-- custom -->
	<link rel="stylesheet" href="../css/2081_solution/css/style.css">
</head>


<!--

Template 2081 Solution

http://www.tooplate.com/view/2081-solution

-->
	<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

		<!-- start navigation -->
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand"><img src="../css/2081_solution/images/logo.png" class="img-responsive" alt="logo"></a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="resume" class="smoothScroll">Resume</a></li>
						<li><a href="25by25" class="smoothScroll">25x25: My Goals</a></li>
						<li><a href="moderndaymoneyball" class="smoothScroll">Modern Day Moneyball: A Thesis</a></li>
						<li><a href="todo" class="smoothScroll">To-Do List: A REST API</a></li>
						<li><a href="reading" class="smoothScroll">Reading: My books</a></li>
						<li><a href="130days" class="smoothScroll">130 Days of SWE</a></li>
						<li><a href="hnh" class="smoothScroll">A Hoops N' Homers: A podcast</a>
					</ul>
				</div>
			</div>
		</div>
		<!-- end navigation -->

		<!-- start home -->
		<section id="home" class="text-center">
		  <div class="templatemo_headerimage">
		    <div class="flexslider">
		      <ul class="slides">
		        <li>
		        	<img src="../css/2081_solution/images/slider/1.jpg" alt="Slide 1">
		        	<div class="slider-caption">
					    <div class="templatemo_homewrapper">
					      <h1 class="wow fadeInDown" data-wow-delay="2000">Modern Day Moneyball</h1>
					      <h2 class="wow fadeInDown" data-wow-delay="2000">
							<span>My published thesis on data analytics</span>
						</h2>
						<a href="moderndaymoneyball" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">The Art of Winning an Unfair Game</a>	
					    </div>
				  	</div>
		        </li>
		        <li>
		        	<img src="../css/2081_solution/images/slider/2.jpg" alt="Slide 2">
		        	<div class="slider-caption">
					    <div class="templatemo_homewrapper">
					      <h1 class="wow fadeInDown" data-wow-delay="2000">Reading</h1>
					      <h2 class="wow fadeInDown" data-wow-delay="2000">
							<span>Check out the different types of books I have read</span>
						  </h2>
						<a href="Reading" class="smootScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Flip the page</a>	
					    </div>
				  	</div>
		        </li>
				<li>
		        	<img src="../css/2081_solution/images/slider/2.jpg" alt="Slide 2">
		        	<div class="slider-caption">
					    <div class="templatemo_homewrapper">
					      <h1 class="wow fadeInDown" data-wow-delay="2000">Reading</h1>
					      <h2 class="wow fadeInDown" data-wow-delay="2000">
							<span>Check out the different types of books I have read</span>
						  </h2>
						<a href="Reading" class="smootScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Flip the page</a>	
					    </div>
				  	</div>
		        </li>
				<li>
		        	<img src="../css/2081_solution/images/slider/2.jpg" alt="Slide 2">
		        	<div class="slider-caption">
					    <div class="templatemo_homewrapper">
					      <h1 class="wow fadeInDown" data-wow-delay="2000">Reading</h1>
					      <h2 class="wow fadeInDown" data-wow-delay="2000">
							<span>Check out the different types of books I have read</span>
						  </h2>
						<a href="Reading" class="smootScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Flip the page</a>	
					    </div>
				  	</div>
		        </li>
				<li>
		        	<img src="../css/2081_solution/images/slider/2.jpg" alt="Slide 2">
		        	<div class="slider-caption">
					    <div class="templatemo_homewrapper">
					      <h1 class="wow fadeInDown" data-wow-delay="2000">Reading</h1>
					      <h2 class="wow fadeInDown" data-wow-delay="2000">
							<span>Check out the different types of books I have read</span>
						  </h2>
						<a href="Reading" class="smootScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Flip the page</a>	
					    </div>
				  	</div>
		        </li>
		      </ul>
		    </div>
		  </div>				
		</section>
		<!-- end home -->

		<!-- start service -->
		<div id="service" data-filter="game">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.1s">
								<i class="fa fa-laptop"></i>
							</div>
							<div class="media-body wow fadeIn">
								<h3 class="media-heading">Fully Responsive</h3>
								<p>Please check <a rel="nofollow" href="http://fortawesome.github.io/Font-Awesome/examples/" target="_parent">examples</a> to change <a rel="nofollow" href="http://fontawesome.io/icons/" target="_parent">icons</a> easily. Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
								<i class="fa fa-cog"></i>
							</div>
							<div class="media-body wow fadeIn">
								<h3 class="media-heading">Customize Easily</h3>
								<p>Solution is a website template from Tooplate. You can download, edit and use this for any purpose.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
								<i class="fa fa-paper-plane"></i>
							</div>
							<div class="media-body wow fadeIn" data-wow-delay="0.3s">
								<h3 class="media-heading">SEO Friendly</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.9s">
								<i class="fa fa-html5"></i>
							</div>
							<div class="media-body wow fadeIn" data-wow-delay="0.6s">
								<h3 class="media-heading">HTML5 Website</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.4s">
								<i class="fa fa-comments-o"></i>
							</div>
							<div class="media-body wow fadeIn" data-wow-delay="0.3s">
								<h3 class="media-heading">Quick Support</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.8s">
								<i class="fa fa-check-circle"></i>
							</div>
							<div class="media-body wow fadeIn" data-wow-delay="0.6s">
								<h3 class="media-heading">Up to Date</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end service -->

		<!-- start divider -->
		<div id="divider">
			<div class="container">
				<div class="row">
					<div class="col-md-1 col-sm-1"></div>
					<div class="col-md-8 col-sm-8">
						<h2 class="wow bounce">We provide <strong>solutions</strong></h2>
						<h3 class="wow fadeIn" data-wow-delay="0.6s"><mark>Creative</mark> Designers &amp; <mark>Talented</mark> Developers</h3>
						<p class="wow fadeInUp" data-wow-delay="0.9s">Nulla ultricies bibendum augue et molestie. Suspendisse pellentesque mollis imperdiet. Quisque sodales laoreet tincidunt. Phasellus ut mi orci. Vivamus id odio ac justo tincidunt placerat. Nulla facilisi. Vivamus et dolor urna. Sed vestibulum urna justo, nec malesuada urna aliquet et.</p>
					</div>
					<div class="col-md-2 col-sm-2"></div>
				</div>
			</div>
		</div>
		<!-- end divider -->

		<!-- start portfolio -->
		<div id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="wow bounce">Recent Projects</h2>
							<div class="iso-section wow fadeIn" data-wow-delay="0.6s">

								<ul class="filter-wrapper clearfix">
                   					 <li><a href="#" class="selected opc-main-bg" tabindex = "-1" data-filter="*" onclick="allClick()">All</a></li>
                   					 <li><a href="#" class="opc-main-bg" tabindex = "-1" data-filter="game" onclick="gameClick()">Games</a></li>
                   					 <li><a href="#" class="opc-main-bg" tabindex = "-1" data-filter="ed" onclick="edClick()">Education</a></li>
                    				<li><a href="#" class="opc-main-bg" tabindex = "-1" data-filter="js" onclick="jsClick()">JavaScript</a></li>
               					 </ul>

               				 	<div class="iso-box-section">
               				 		<div class="iso-box-wrapper col4-iso-box portfolio-container">

               				 			<div class="iso-box graphic photoshop wallpaper col-md-4 col-sm-6 col-xs-12" data-filter="game">
               				 				<div class="portfolio-thumb" data-filter="game">
               				 					<img src="../css/2081_solution/images/portfolio-img1.jpg" class="fluid-img" alt="portfolio img">
               				 						<div class="portfolio-overlay">
               				 							<a href="../css/2081_solution/images/portfolio-img1.jpg" class="fa fa-search portfolio-popup"></a>
               				 							<a href="#" class="fa fa-link"></a>
               				 							<h4>Snake</h4>
               				 							<p>This is a project where you can play snake.</p>
               				 						</div>
               				 				</div>
               				 			</div>

               				 			<div class="iso-box graphic wallpaper col-md-4 col-sm-6 col-xs-12" data-filter="game">
               				 				<div class="portfolio-thumb" data-filter="game">
               				 					<img src="../css/2081_solution/images/portfolio-img2.jpg" class="fluid-img" alt="portfolio img">
               				 						<div class="portfolio-overlay">
               				 							<a href="../css/2081_solution/images/portfolio-img2.jpg" class="fa fa-search portfolio-popup"></a>
               				 							<a href="#" class="fa fa-link"></a>
               				 							<h4>BLM</h4>
               				 							<p>A project that I initially completed in C++. This was in response to the murder of George Floyd.</p>
               				 						</div>
               				 				</div>
               				 			</div>

               				 			<div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
               				 				<div class="portfolio-thumb">
               				 					<img src="../css/2081_solution/images/portfolio-img3.jpg" class="fluid-img" alt="portfolio img">
               				 						<div class="portfolio-overlay">
               				 							<a href="../pictures/To-Do.PNG" class="fa fa-search portfolio-popup"></a>
               				 							<a href="todo" class="fa fa-link"></a>
               				 							<h4>To-Do List</h4>
               				 							<p>This is a to-do list project. This was the first project where I used how to use MongoDB and Express.</p>
               				 						</div>
               				 				</div>
               				 			</div>

               				 			<div class="iso-box graphic col-md-4 col-sm-6 col-xs-12">
               				 				<div class="portfolio-thumb">
               				 					<img src="../css/2081_solution/images/portfolio-img4.jpg" class="fluid-img" alt="portfolio img">
               				 						<div class="portfolio-overlay">
               				 							<a href="../css/2081_solution/images/portfolio-img4.jpg" class="fa fa-search portfolio-popup"></a>
               				 							<a href="#" class="fa fa-link"></a>
               				 							<h4>Coming Soon</h4>
               				 							<p>This project has yet to be completed</p>
               				 						</div>
               				 				</div>
               				 			</div>

               				 			<div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
               				 				<div class="portfolio-thumb">
               				 					<img src="../css/2081_solution/images/portfolio-img5.jpg" class="fluid-img" alt="portfolio img">
               				 						<div class="portfolio-overlay">
               				 							<a href="../css/2081_solution/images/portfolio-img5.jpg" class="fa fa-search portfolio-popup"></a>
               				 							<a href="#" class="fa fa-link"></a>
               				 							<h4>Coming Soon</h4>
               				 							<p>This project has yet to be completed</p>
               				 						</div>
               				 				</div>
               				 			</div>

               				 			<div class="iso-box graphic photoshop col-md-4 col-sm-6 col-xs-12">
               				 				<div class="portfolio-thumb">
               				 					<img src="../css/2081_solution/images/portfolio-img6.jpg" class="fluid-img" alt="portfolio img">
               				 						<div class="portfolio-overlay">
               				 							<a href="../css/2081_solution/images/portfolio-img6.jpg" class="fa fa-search portfolio-popup"></a>
               				 							<a href="#" class="fa fa-link"></a>
               				 							<h4>Coming Soon</h4>
               				 							<p>This project has yet to be completed</p>
               				 						</div>
               				 				</div>
               				 			</div>
               				 	</div>
               				</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end portfolio -->

		<!-- start contact -->
		<div id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 wow fadeInLeft" data-wow-delay="0.6s">
						<h2><strong>Sign up for updates</strong></h2>
						<p>Enter your name and information to get updates every time a new version of the website is released</p>
						<ul class="social-icon">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 wow fadeIn" data-wow-delay="0.9s">
						<address>
							<h3>Contact Information</h3>
							<p><i class="fa fa-map-marker too-icon"></i> San Francisco, California</p>
							<p><i class="fa fa-phone too-icon"></i> 949-842-1295</p>
							<p><i class="fa fa-envelope-o too-icon"></i> joshmitchell1313@gmail.com</p>
						</address>
					</div>
					<form action="#" method="post" class="col-md-6 col-sm-4" id="contact-form" role="form">
							<div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
								<input name="name" type="text" class="form-control" id="name" placeholder="Name">
							</div>
							<div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
								<input name="email" type="email" class="form-control" id="email" placeholder="Email">
							</div>
							<div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
								<textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
							</div>
							<div class="col-md-offset-9 col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
								<input name="submit" type="submit" class="form-control" id="submit" value="Send">
							</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-7">
						<p>Copyright &copy; 2022 Solution Company</p>
						<small>Designed by <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a></small>
					</div>
					<div class="col-md-4 col-sm-5">
						<ul class="social-icon">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="https://www.instagram.com/josh.mitchell13/" class="fa fa-instagram" target="_blank"></a></li>
							<!-- Make this LinkedIn-->
							<li><a href="#" class="fa fa-pinterest"></a></li>
							<li><a href="#" class="fa fa-google"></a></li>
							<li><a href="#" class="fa fa-github"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->


		<!-- jQuery -->
		<script src="../css/2081_solution/js/jquery.js"></script>
		<!-- bootstrap -->
		<script src="../css/2081_solution/js/bootstrap.min.js"></script>
		<!-- isotope -->
		<script src="../css/2081_solution/js/isotope.js"></script>
		<!-- images loaded -->
   		<script src="../css/2081_solution/js/imagesloaded.min.js"></script>
   		<!-- wow -->
		<script src="../css/2081_solution/js/wow.min.js"></script>
		<!-- smoothScroll -->
		<script src="../css/2081_solution/js/smoothscroll.js"></script>
		<!-- jquery flexslider -->
		<script src="../css/2081_solution/js/jquery.flexslider.js"></script>
		<!-- Magnific Pop up -->
		<script src="../css/2081_solution/js/jquery.magnific-popup.min.js"></script>
		<!-- custom -->
		<script src="../css/2081_solution/js/custom.js"></script>

	</body>
</html>


