<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
	<title>Modern Day Moneyball</title>
</head>
<body>
<h1><header><center>Modern Day Moneyball</center></header></h1>
<hr>

<blockquote>One of my biggest dreams is to be an owner for a major league organization. I have loved sports my entire life and for my Senior Honors Thesis wanted to combine my love for sports with my engineering skills. This project was worked on from June 2020 to May 2021 and it was quite a challenge because I had never worked with databases before or completed a project using Python. This projet is far from perfect as it fails to take into consideration the financial aspects of haivng a bad team for multiple years. In addition, the data was sampled ranged from 2000-2019, but primarily focuses on 2012-2019. I have pondered about going back to this project in future years to improve it, but have not done so yet. </blockquote>
<a href = "/">Main Page</a>
<center><iframe src = "https://www.youtube.com/embed/mOAdr_-IxyU" allow = "fullscreen"></iframe></center>
<center><iframe src = "../../../../Desktop/ModernDayMoneyball.pdf"></iframe></center>
</body>
<footer>
	<a href= "https://www.instagram.com/josh.mitchell13/?hl=en" target = "_blank">Instagram</a>
	<a href= "https://www.tiktok.com/@josh.mitchell13" target = "_blank">Tiktok</a>
	<a href= "https://www.youtube.com/channel/UCpcF1f1Uyoql-HI32u799nQ" target = "_blank">Youtube</a>
	<a href= "https://www.linkedin.com/in/joshm13/" target ="_blank">Linkedin</a>
	<a href= "https://github.com/" target ="_blank">Github</a>
</footer>
</html>