
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Josh Mitchell">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">

    <title>Modern Day Moneyball</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/templatemo_570_chain_app_dev/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/templatemo_570_chain_app_dev/assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="../css/templatemo_570_chain_app_dev/assets/css/animated.css">
    <link rel="stylesheet" href="../css/templatemo_570_chain_app_dev/assets/css/owl.css">
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="practice.ejs" class="logo">
              <img src="../css/templatemo_570_chain_app_dev/assets/images/logo.png" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">The Unfair Game</a></li>
              <li class="scroll-to-section"><a href="#services">Breakdown</a></li>
              <li class="scroll-to-section"><a href="#about">Player Salaries</a></li>
              <li class="scroll-to-section"><a href="#pricing">Winning</a></li>
              <li><div class="gradient-button"><a id="modal_trigger" href="/home"><i class="fa fa-sign-in-alt"></i> Back to Home Page</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>"The Art of Winning an Unfair Game"</h2>
                    <p style="color: #afafaf">For my undergraduate thesis, I conducted a study called Modern Day Moneyball. The purpose of this study 
                      is to offer an intuitive and cost-efficient approach on how to run a major league baseball team. In the sports world and particularly in baseball, there is a great 
                      deal of financial mismanagement where teams are overspending to assemble their rosters. To 
                      combat this issue and create a cost-effective but competitive roster, I hired myself as the General 
                      Manager of the Los Angeles Angels from 2012 to 2019.
                      With the use of the Python programming language, over 200,000 data points were
                      scraped from the internet and stored into the SQLite database. The trends discovered from the 
                      data were then applied to different styles of management classified as models. The main model 
                      that was used for this research was deemed the homegrown model. 
                      To compare whether the model I assembled was better than the real-life roster, a baseball 
                      simulation engine, Out of This Park Baseball ’21 completed 160 simulations and the figures 
                      were placed into the Pythagorean Theorem of Baseball. The theorem was then able to determine 
                      which model would bring the most success in terms of wins to an organization over the 
                      designated period. After the analysis was completed, it was found that the patient Homegrown 
                      Model was much more effective at creating success versus a more aggressive All-In Model. 
                      Although not every reader may have a passion for the sport of baseball, I believe that the 
                      methodology that is executed will encourage others to apply it to their own professions.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="#contact">Download ModernDay Moneyball <i class="fa fa-baseball"></i></a>
                    </div>
                  </div>
                  <span>*Free Download in PDF</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <iframe src = "https://www.youtube.com/embed/mOAdr_-IxyU" height = "400" width = "600" allow="fullscreen"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>"The pleasure of rooting for <em>Goliath</em> is that you can expect to win. The pleasure of rooting for <em>David</em> is that, while you don't know what to expect, you stand at least a chance of being inspired"</h4>
            <img src="../css/templatemo_570_chain_app_dev/assets/images/heading-line-dec.png" alt="">
            <p>Despite spending the 4th largest amount of money out of all thirty teams, the Los Angeles Angels have found the same amount of success as teams that rank towards the bottom of the league. Here are a few rankings from 2012-2019.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h4>Breakdown of the <em>Angels team</em> from 2012-2019</h4>
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Free Agency</h4>
            <p>Add the HTML text in these 4 sections later along with a tag to where they belong</p>
            <div class="text-button">
              <a href="#">View Chart <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Player Draft</h4>
            <p>You are allowed to use the Chain App Dev HTML template. Feel free to modify or edit this layout.</p>
            <div class="text-button">
              <a href="#">View Chart <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Finances</h4>
            <p>If this template is beneficial for your work, please support us <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">a little via PayPal</a>. Thank you.</p>
            <div class="text-button">
              <a href="#">View Chart <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>Lack of Consistency</h4>
            <p>Lorem ipsum dolor consectetur adipiscing elit sedder williamsburg photo booth quinoa and fashion axe.</p>
            <div class="text-button">
              <a href="#">View Chart <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4 id = "client-header">The Argument for the <em>Homegrown Model</em></h4>
            <img src="../css/templatemo_570_chain_app_dev/assets/images/heading-line-dec.png" alt="">
            <p>The Homegrown Model was the model proposed in the research paper and argued how organizations should philosophically build their teams. The Model places an emphasis on moving away from emotionally based decision-making. The goal is to never spend the most money on a free agent, but rather build through the draft and acquire as many young assets as one can. A large majority of the money will be allocated towards players for contract extensions and maintaing the that was developed internally. Once this franchise is deemed competitive(can reach the 90 win mark), the team will look to the trade and free agent markets to fill out the roster. The Los Angeles Dodgers and Kansas City Royals of 2010's are excellent examples of this approach. I believe that it is much more effective avoiding bad contracts in the long run and creating a team that has the potential to be better every year. Nothing is ever guarenteed, but the job of the general manager is to put the team in the best position to stay competitive over the longest period of time possible. If one chooses to go all-in to win a title in a single year, there will be little future left after that year is complete. If a team chooses to do a full rebuild, the organization may lose out on a large amount of revenue because the average fan is not interested in watching a bad team. </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="about" class="about-us section">
    <div class="container">
      <div class="section-heading">
        <h4>"Every form of <em>strengh</em> is also a form of <em>weakness</em>"</h4>
        <img src="../css/templatemo_570_chain_app_dev/assets/images/heading-line-dec.png" alt="">
      </div>
      <div class = "column">
        <div class="row">
          <div class="box-item">
            <h1><i class="fa-solid fa-money-bill"></i>All-In Model: <br><em>1.274 billion</em></h1>              
          </div> 
        </div>
        <div class="row">
          <div class="box-item">
            <h1><i class="fa-solid fa-money-bill"></i>Homegrown Model: <br><em>832.6 million</em></h1>              
          </div> 
        </div>
      </div>
      <div class = "column">
        <div class = "box-item">
          <h6>The Homegrown model was able to spend 441.4 million less than the All-In Model. Although the Homegrown model spends 34.64% less than the All-In model, this expirement does not take into consideration the revenue that was generated due to more popular players being on the team. Below are some of the players that were signed/traded and some of the players that were not added to the team.</h6>
        </div>
      </div>
      <div class = "row">
        <div class="col">
          <div class="box-item">
            <image src="../pictures/mdmimg/jeansegura.png" alt="" class="player-images"></image>
            <h4><i class="fa fa-plus" style="color: green"></i> Jean Segura</h4>
            <p>10yr/$250 mil</p>
          </div>
        </div>
        <div class="col">
          <div class="box-item">
            <image src="../pictures/mdmimg/mikemoustakas.png" alt="" class="player-images"></image>
            <h4><i class="fa fa-plus" style="color: green"></i> Mike Moustakas</h4>
            <p>10yr/$250 mil</p>
          </div>
        </div>
        <div class="col">
          <div class="box-item">
            <image src="../pictures/mdmimg/randalgrichuk.png" alt="" class="player-images"></image>
            <h4><i class="fa fa-plus" style="color: green"></i> Randal Grichuk</h4>
            <p>10yr/$250 mil</p>
          </div>
        </div>
        <div class="col">
          <div class="box-item">
            <image src="../pictures/mdmimg/justinsmoak.png" alt="" class="player-images"></image>
            <h4><i class="fa fa-plus" style="color: green"></i> Justin Smoak</h4>
            <p>10yr/$250 mil</p>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class="col">
          <div class="box-item">
            <image src="../pictures/mdmimg/albertpujols.png" alt="" class="player-images"></image>
            <h4><i class="fa fa-minus" style="color: red"></i> Albert Pujols</h4>
            <p>10yr/$250 mil</p>
          </div>
        </div>
        <div class="col">
          <div class="box-item">
            <image src="../pictures/mdmimg/joshhamilton.png" alt="" class="player-images"></image>
            <h4><i class="fa fa-minus" style="color: red"></i> Josh Hamilton</h4>
            <p>5yr/$125 mil</p>
          </div>
        </div>
        <div class="col">
          <div class="box-item">
            <image src="../pictures/mdmimg/cjwilson.png" alt="" class="player-images"></image>
            <h4><i class="fa fa-minus" style="color: red"></i> C.J. Wilson</h4>
            <p>5yr/$77 mil</p>
          </div>
        </div>
        <div class="col">
          <div class="box-item">
            <image src="../pictures/mdmimg/hustonstreet.png" alt="" class="player-images"></image>
            <h4><i class="fa fa-minus" style="color: red"></i> Huston Street</h4>
            <p>2 yr/$18 mil</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="gradient-button">
          <a href="#">Buy Modern Day Moneyball</a>
        </div>
      </div>
    </div>
  </div>

  
  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>"I hate <em>losing</em> more than I love <em>winning</em>"</h4>
            <img src="../css/templatemo_570_chain_app_dev/assets/images/heading-line-dec.png" alt="">
            <p>Given the over 400 million decrease in player salary with this research, the initial assumption would be that the team performed much worse in the simluations. Let's see if that theory holds true.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <h4>Homegrown Model Wins</h4>
            <h4>(expirement)</h4>
            <ul>
              <li>2012: 73.9</li>
              <li>2013: 85</li>
              <li>2014: 86.7</li>
              <li>2015: 78.7</li>
              <li>2016: 87.4</li>
              <li>2017: 84.6</li>
              <li>2018: 98.6</li>
              <li>2019: 89.3</li>
            </ul>
            <div class="border-button">
              <a href="#">Click to see the visual graph of how these totals compare</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <h4>All-In Model Wins</h4>
            <h4>(real-life)</h4>
            <ul>
              <li>2012: 95.3</li>
              <li>2013: 79.2</li>
              <li>2014: 87.1</li>
              <li>2015: 70.5</li>
              <li>2016: 73.8</li>
              <li>2017: 83.6</li>
              <li>2018: 74.5</li>
              <li>2019: 65.3</li>
            </ul>
            <div class="border-button">
              <a href="#">Click to see the number of playoff apperances</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join the mailing list to receive all updates</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Josh</h4>
            <p>Rio de Janeiro - RJ, 22795-008, Brazil</p>
            <p><a href="#"></a></p>
            <p><a href="#">info@company.co</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links (add other links)</h4>
            <ul>
              <li><a href="#">Free Apps</a></li>
              <li><a href="#">App Engine</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">App News</a></li>
            </ul>
            <ul>
              <li><a href="#">App Dev Team</a></li>
              <li><a href="#">Digital Web</a></li>
              <li><a href="#">Normal Apps</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="../css/templatemo_570_chain_app_dev/vendor/jquery/jquery.min.js"></script>
  <script src="../css/templatemo_570_chain_app_dev/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../css/templatemo_570_chain_app_dev/assets/js/owl-carousel.js"></script>
  <script src="../css/templatemo_570_chain_app_dev/assets/js/animation.js"></script>
  <script src="../css/templatemo_570_chain_app_dev/assets/js/imagesloaded.js"></script>
  <script src="../css/templatemo_570_chain_app_dev/assets/js/popup.js"></script>
  <script src="../css/templatemo_570_chain_app_dev/assets/js/custom.js"></script>
</body>
</html>